@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: whitesmoke;
    font-family: Lora, sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    align-items: center;
    justify-content: center;
}
/*Style for index.html*/

h1 {
    font-family: Lora, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
    text-align: center;
}

h2 {
    font-family: Lora, sans-serif;
    font-weight: 200;
    color:#3a3a3a; 
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
}

p {
    font-family: Lora, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    
}

#heading {
	font-size: 4rem;
	text-transform: uppercase;
    padding-top: 10px;

}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/tom-crean-hero1.jpeg") no-repeat center center;
    background-size: center;
    margin-top: 30px;
}

#wrapper {
    padding-top: 30px;
 
}
/* Button to start the quiz*/

.btn-start {
    font-size: 3rem;
    text-transform: uppercase;
    color: #3a3a3a;
    margin: 1rem;
}
.container-index {
    text-align: center;
    padding-top: 20px;
}

/*Style for quiz.html*/

.container {
    width: 80vw;
    height: 80vw;
    background-color: lightseagreen;
    height: 70vw;
    box-shadow: 0 0 5px 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    text-align: center;
   
}
.controls {
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;

}

.score {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

#user-score {
    color:#3a3a3a
}
#user-total-score{
    color: grey;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    font-size: 1.5rem;
    font-weight: 200;
    border-radius: 5px;
    color: black;
    margin: 5px;
    cursor: pointer;

}

.btn:hover {
    color:azure;
    padding:13px;
}

.options {
    padding: 10px;
    order:3;

}

.controls {
    padding: 10px;
    order:4;
}

.hide {
    display: none;
}






